<h1>Create a new restaurant</h1>

<%= render partial: "shared/error_list", locals: {new_object: @restaurant} %>


<%= form_for @restaurant do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :city %>
    <%= f.text_field :city %>

    <%= f.collection_check_boxes :taco_ids, Taco.all, :id, :name do |b| %>
        <div><%= b.label {b.check_box + b.text} %></div>
    <% end %>

    <%= f.submit %>


<% end  %>