<h1>Create a new taco</h1>


<%= form_for @taco do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :price %>
    
    <%= f.number_field :price %>
    <%= f.label :vegetarian %>
    <%= f.select(:vegetarian, ["true", "false"]) %>

    <%= f.collection_select :restaurant_id, Restaurant.all, :id, :name %>
    <%= f.submit %>
<% end %>